<!-- os/index -->
<div class="jumbotron">
  <h1>Operating Systems</h1>
</div>
    <ul>
      <% @os.each do |opsys| %>
        <div class="row">
          <li class="larger"><a href="/operating_systems/<%=opsys.slug%>"><%=opsys.name%></a></li>
        </div>
      <% end %>
    </ul>
