<!-- os/show -->
<div class="row">
  <h1><%= @os.platform %>: <%=@os.name%></h1>
</div>

<% if @os.reviews.empty? %>
  <p class="larger">No reviews here yet!</p>
<% else %>
  <ul>
    <% @os.reviews.each do |rev| %>
      <div class="row">
        <li class="larger"><a href="/reviews/<%=rev.id%>"><%=rev.user.name%>'s review</a></li>
      </div>
    <% end %>
  </ul>
<% end %>
