<!-- users/show -->
<div class="jumbotron">
  <h1><%=@user.name%>'s Reviews:</h1>
</div>
<% if @user.reviews.empty? %>
  <p class="larger">No reviews here yet!</p>
<% else %>

  <ul>
    <% @user.reviews.each do |review| %>
      <div class="row">
        <li class="larger"><a href="/reviews/<%=review.id%>"><%=review.operating_system.name%></a></li>
      </div>
    <% end %>
  </ul>
<% end %>
