<!-- reviews/delete -->
<div class="row">
  <h1>Deleting Review for <%=@review.operating_system.name%></h1>
</div>
<br>
<div class="row">
  <h2>Review:</h2>
</div>
  <p class="larger review"><%=@review.content%></p>
<div class="row">
  <h3>Confirm Deletion?</h3>
</div>
<div class="row">
  <form action="/reviews/<%=@review.id%>/delete" method="post">
    <input type="submit" class="btn" value="Delete">
  </form>
</div>
<br>
<div class="row">
  <form action="/reviews" method="get">
    <input type="submit" class="btn" value="Don't Delete">
  </form>
</div>
