<h1>Deleting Review for <%=@review.operating_system.name%></h1>

<h2>Review:</h2>
  <p><%=@review.content%></p>

<h3>Confirm Deletion?</h3>
  <form action="/reviews/<%=@review.id%>" method="post">
    <input type="submit" value="Delete">
  </form>
  <br>
  <form action="/reviews" method="get">
    <input type="submit" value="Don't Delete">
  </form>
