<!-- reviews/edit -->
<h1>Edit Review:</h1>

<form action="/reviews/<%=@review.id%>" method="post">
  <input type="hidden" name="_method" value="PATCH">

  <h2>Choose an operating system:</h2>
  <% @OS.each do |opsys| %>
    <input type="radio" name="review[operating_system_id]" value="<%=opsys.id%>" <%="checked if @review.operating_system = opsys"%>><%=opsys.name%></input>
  <% end %>

  <h3>Or, create a new operating system:</h3>
    <label for="os_name">Name:</label>
    <input type="text" id="os_name" name="os[name]">

    <label for="os_type">Type: (Windows, Mac, BSD, Linux, etc...)</label>
    <input type="text" id="os_type" name="os[platform]">

    <label for="os_ss">Link to Screenshot (optional):</label>
    <input type="text" id="os_ss" name="os[screenshot]">

    <textarea name="review[content]" rows="8" cols="80">
      Fill in your review here!
    </textarea>

    <input type="submit" value="Save Changes">
</form>
