<!-- index -->
<% if Helper.logged_in?(session) %>
  <!-- LOGGED IN VIEW -->
  <div class="jumbotron">
    <h1>Logged in as <%=Helper.current_user(session).name%></h1>
  <br>
    <p class="larger">Welcome to your #1 review site for operating systems!</p>
  </div>
  <!-- STRETCH GOAL: featured reviews -->

  <h3>Post a <a href="/reviews/new">New Review</a></h3>




<% else %>
  <!-- LOGGED OUT VIEW -->
  <% if flash.has?(:message) %>
    <p class="error"><%=flash[:message]%><p>
  <% end %>
  <div class="jumbotron">
    <h1>Welcome to OS Review!</h1>
    <p class="larger">Your #1 review site for operating systems! Please log in or signup below.</p>
  </div>
  <br>
  <!-- navbar to provide navigation  -->
      <a href="/login"><button class="btn" type="button">Log In</button></a>
      <a class="button-left" href="/signup"><button class="btn" type="button">Sign Up</button></a>

<% end %>
