<!-- index -->
<% if Helper.logged_in?(session) %>
  <!-- LOGGED IN VIEW -->
  <div class="row">
    <h1>Logged in as <%=Helper.current_user(session).name%></h1>
  </div>

  <br>
  <div class="row">
    <p class="larger">Welcome to your #1 review sites for operating systems!</p>
  </div>
  <!-- STRETCH GOAL: featured reviews -->
  <div class="row">
    <h3>Post a <a href="/reviews/new">New Review</a></h3>
  </div>



<% else %>
  <!-- LOGGED OUT VIEW -->
  <div class="row">
    <h1>Welcome to OS Review!</h1>
  </div>
  <br>
  <!-- navbar to provide navigation  -->
  <div class="row">
      <a href="/login"><button type="button">Log In</button></a>
      <a class="button-left" href="/signup"><button type="button">Sign Up</button></a>
  </div>

<% end %>
