<!-- index -->
<% if Helper.logged_in?(session) %>
  <!-- LOGGED IN VIEW -->
  <div class="row">
    <h1>Logged in as <%=Helper.current_user(session).name%></h1>
  </div>

  <br>
  <div class="row">
    <p class="larger">Welcome to your #1 review sites for operating systems!</p>
  </div>
  <!-- STRETCH GOAL: featured reviews -->
  <div class="row">
    <h3>Post a <a href="/reviews/new">New Review</a></h3>
  </div>



<% else %>
  <!-- LOGGED OUT VIEW -->
  <h1>Welcome to OS Review!</h1>
  <!-- navbar to provide navigation  -->
  <h2><a href="/login">Log In</a></h2>
  <br>
  <h2><a href="/signup">Sign Up</a></h2>

<% end %>
