<!-- layout -->
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>OS Review</title>
  </head>
  <!-- NAVBAR to go here  -->
  <body>
    <%= yeild %>
  </body>
</html>
