<!-- signup -->
<div class="jumbotron">
  <h1>Create an OS Review Account:</h1>
</div>
<% if flash.has?(:message) %>
  <p class="error"><%=flash[:message]%></p>
  <br>
<% end %>


  <form action="/signup" class="form" method="post">
    <div class="form-row">
      <div class="form-col-md-4">
        <input type="text" id="name" name="name" placeholder="Name">
      </div>
      <div class="form-col-md-4">
        <input type="text" name="username" id="username" placeholder="Username">
      </div>
      <div class="form-col-md-4">
        <input type="email" name="email" id="email" placeholder="Email">
      </div>
    </div>
    <br>
    <div class="form-row">
      <div class="form-col-md-6">
        <input type="password" name="password" id="password" placeholder="Password">
      </div>
      <div class="form-col-md-6">
        <input type="password" name="pwrd_verify" id="pwrd_verify" placeholder="Verify Password">
      </div>
    </div>
    <br>
    <div class="form-row">
      <div class="form-goup">
        <input type="submit" class="btn" value="Sign Up">
      </div>
    </div>
  </form>
